.add{
  width: 25vw;
    height: 35vh;
    border-style: solid;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .img{
      width: 20vw;
      height: 15vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      .imagem{
        width: 17vw;
        height: 10vh;
      }
    }
    .input{
      display: flex;
      flex-direction: column;
    }
}
