<form [formGroup]="formGroup" class="add">
  <div class="img">
    <img class="imagem" [src]="imagem" alt="">
    <button (click)="openDialog()">Selecione uma imagem</button>
    <input type="text" formControlName="imagem" >
  </div>

  <div class="input">
    <label for="nome">Nome:</label>
    <input type="text" formControlName="nome" required>
  </div>
  <div class="input">
    <label for="categoria">Categoria:</label>
    <input type="text" formControlName="categoria" required>
  </div>
  <button (click)="onSalvar()" [disabled]="formGroup.invalid">Submit</button>
</form>
